@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css: fuente Maestro y clase de ayuda */
@font-face {
  font-family: "Maestro";
  src: url("/fonts/Maestro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.music-font {
  font-family: "Maestro", serif;
}
